body.dark {
  background: #050505;
  color: red;
  font-family: Arial;
  text-align: center;
}

.box {
  margin: 100px auto;
  width: 300px;
  padding: 30px;
  background: black;
  box-shadow: 0 0 20px red;
}

input, button {
  width: 90%;
  margin: 10px;
  padding: 10px;
}

button {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}
.video-call-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 500px;
  background: black;
  border-radius: 15px;
  overflow: hidden;
  margin: auto;
  display: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay buttons */
.call-controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.call-box {
  position: relative;
  width: 360px;
  height: 500px;
  background: black;
  border-radius: 15px;
  overflow: hidden;
  display: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cut-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  border: none;
  color: white;
  font-size: 22px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
}

